/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.smtp2go_text_input {
  width: 320px;
}
.smtp2go_help_text {
  font-style: italic;
  display: block;
  margin: 0.2rem 0;
}
.smtp2go_custom_headers th {
  padding-top: 0;
}
.smtp2go_custom_headers td {
  padding-left: 0;
}
.smtp2go_hide_title th {
  display: none;
}
.smtp2go_hide_title th.heading {
  display: table-cell;
}
.smtp2go-error-message,.smtp2go-success-message {
  padding:5px;
  margin:5px 0;
  border:1px solid black;
  border-left:5px solid red;
  background-color:#fff;
}
.smtp2go-success-message {

  border-left:5px solid green;
  
}

