/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.smtp2go h1 {
  margin: 10px 0;
}

.smtp2go_text_input {
  width: 450px;
}

.smtp2go_help_text {
  display: block;
  margin: 0.2rem 0;
}

.smtp2go_custom_headers {
  position: relative;
  left: -10px;
  counter-reset: section;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-collapse: collapse;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .smtp2go_custom_headers {
    width: 59.25%;
  }
}

.smtp2go_custom_headers .smtp2go_text_input {
  width: 100%;
}

.smtp2go_custom_headers th {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  background: #fff;
  border: 1px solid #dbdbdb;
  display: table-cell;
  width: 42%;
}

.smtp2go_custom_headers td {
  padding-left: 10px;
  background: #fff;
  border: 1px solid #dbdbdb;
  display: table-cell;
}

.smtp2go_custom_headers .smtp2go_grey_cell {
  background: #f1f1f1;
  text-align: center;
}

.smtp2go_custom_headers .smtp2go_text_input {
  margin-left: 0;
  padding-left: 0;
  text-indent: 5px;
}

.smtp2go_hide_title th {
  display: none;
}

.smtp2go_hide_title th.heading {
  display: table-cell;
}

.smtp2go-error-message,
.smtp2go-success-message {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid black;
  border-left: 5px solid red;
  background-color: #fff;
}

.smtp2go-success-message {
  border-left: 5px solid green;
}

.smtp2go-usage-bar {
  width: 100%;
  height: 31px;
  background-color: rgba(24, 146, 230, 0.3);
  border: 1px solid rgba(17, 99, 157, 0.2);
  border-radius: 2px;
  position: relative;
  margin-bottom: 10px;
  z-index: 10;
}

.smtp2go-progress-bar {
  height: 31px;
  background-color: #7cb76a;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
}

.smtp2go-usage-bar p {
  text-align: center;
  margin: 0;
  padding: 3px 0 0 0;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.2;
  position: relative;
  z-index: 40;
}

.smtp2go-stat-box {
  width: 450px;
  padding-top: 10px;
}

.smtp2go-stat-box-small {
  padding: 10px;
  width: 40%;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-flex;
}

.smtp2go-stat-box-small h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.smtp2go-dash-stat {
  position: relative;
  text-align: center;
}

.smtp2go-stat-badge {
  position: absolute;
  right: -60px;
  top: -12px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  padding: 4px 4px 4px;
  text-transform: uppercase;
}

.smtp2go-stat-badge.relative {
  position: relative;
  right: 0;
  top: 0;
}

.smtp2go-should-be-meta {
  margin: 5px 0 0;
  text-transform: uppercase;
  color: #909090;
  font-size: 0.875em;
}

.smtp2go-stat-badge.smtp2go-good-status {
  background-color: #7cb76a;
}

.smtp2go-stat-badge.smtp2go-fair-status {
  background-color: #f0d78e;
}

.smtp2go-stat-badge.smtp2go-poor-status {
  background-color: #e38b81;
}

.smtp2go-intro-wrapper {
  background: white;
  width: 100%;
  border: 1px solid #ccc;
}

.smtp2go-intro-wrapper .inner {
  padding: 10px;
  display: flex;
}

.smtp2go-intro-wrapper div.container {
  padding: 0 20px;
}

.smtp2go a.smtp2go-button-blue {
  background-color: #016fae;
  color: #fff;
  border: 1px solid #015787;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.smtp2go a.smtp2go-button-white {
  background-color: #fff;
  color: #000;
  border: 1px solid #a0a0a0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.smtp2go_custom_header_increment {
  counter-increment: section;
}

.smtp2go_custom_header_increment::before {
  content: counter(section);
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px 2px;
  text-align: center;
}

.smtp2go_add_remove_row {
  border-radius: 9999px;
  border: 1px solid #dbdbdb;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 1.7rem;
  display: inline-block;
  text-decoration: none;
  background-color: white;
}

.smtp2go-js-hidden {
  display: none;
}

.smtp2go-domain-status-badge {
  border-radius: 2px !important;
  padding: 2px 4px;
  text-align: center;
  color: white;
  white-space: nowrap;
  display: inline-block;
  text-transform: uppercase;
}

.smtp2go-domain-status-badge.green {
  background-color: #3bb67f;
}
.smtp2go-domain-status-badge.rose {
  background-color: #ef8a78;
}
.smtp2go-domain-status-badge.grey {
  background-color: #828da0;
}
.smtp2go-validation-table {
  width:100%;
  border-collapse: collapse;
}
.smtp2go-validation-table th, .smtp2go-validation-table td {
  text-align:left;
}

.smtp2go-validation-help-link {
  margin-top: 40px;
}

.smtp2go-admin-spacing {
  margin: 20px 0;
}
